/* * {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  background-color: rgb(16, 70, 19);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem 0 1rem;
  min-height: 5rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1.5rem;
  font-size: 1.25rem;
  align-items: center;
}

.nav-title {
  font-size: 2rem;
} */
