.order-summary-main {
  position: relative;
  padding: 20px;
  align-self: right;
}

.title {
  text-align: center;
  background: #0e3405;
  font-size: 16px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
